*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    margin-bottom:20px;
}

input{
    width:280px;
    padding:10px;
    border:2px solid white;
    background:transparent;
    color:white;
    font-size:16px;
    outline:none;
}

button{
    margin-top:15px;
    padding:10px 25px;
    background:gold;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:orange;
}

#weather{
    margin-top:20px;
    font-size:20px;
}
